<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
</head>

<body>
	<button id="firstpage">GOTOINFO</button>
	<button id="secondpage">NEXT</button>
	<div id="first" style="display:none;">
		<p>{{message welcome}}</p>
		<p>WOW</p>
	</div>
	<div id="second" style="display:none;">
		<p>{{message welcome}}</p>
	</div>
	

	<script src="about.js"></script>
</body>
</html>